

body {
    background-color: #FFFBD4;
    /*line-height: 1;*/
}

.header{
    background: url('../images/globe.jpg') no-repeat;
    background-size: cover;
    border-radius: 15px;
    max-height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

.headerA, #bandeau {
    background: url('../images/glacier.jpg') no-repeat;
    background-size: cover;
    max-height: 300px !important;
    width: 100%;
    border-radius: 15px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.breadcrumb, .breadcrumb-item a {
    background-color: transparent !important;
    font-family: "American Typewriter", serif;
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
}

.logo {
    height: 55px;
    width: 45px;
    display: inline-flex;
}

h1 {
    font-family: Clicker Script, serif;
    color: white;
    font-size: 3.5em;
    padding-top: 15px;
    padding-left: 35px;
    display: inline;
}

#title-header h2{

    margin-bottom: 5px;
}

footer {
    background-color: #8db877;
    border-radius: 20px;
    padding-top: 15px;
    margin-top: 10px;
}

.bg-light {
    background-color: transparent !important;

}
.nav-link:hover {
    color: white !important;
}

.navbar-brand:hover{
    color: white !important;
}
.navbar-light .navbar-brand {
    font-family: Clicker Script, serif;
    color: white;
    font-size: 2em;
}

.navbar-light .navbar-nav .active>.nav-link {
    font-family: Clicker Script, serif;
    color: white !important;
    font-size: 1.5em;
    display: block;
}

.navbar-light .navbar-nav .nav-link {
    font-family: Clicker Script, serif;
    color: white;
    font-size: 1.5em;
    line-height: 1;
}
.card-deck {
    margin-top: 15px;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-thumbnail {
    max-width: 500px !important;
}

.form-control {
    margin-bottom: 10px;
}

.card-body {
    background-color: #FFFBD4;
    font-family: "American Typewriter", serif;
    font-size: 1.2em;
}





